<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
</head>
<body>
    <nav>
    <div class="left">
        <a class="logo" href="/">myApp</a>
        <ul>            
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/kitchen">Kitchens</a></li>  
        </ul>
    </div>

        <div class="log">
        {% if session.user_id is defined %}
            <a href=''>Welcome, {{ session.user }}!</a>
            <a href="/user/logout">Logout</a>
        {% else %}
            <a href="/user/login">Login</a>
            <a href="/user/register">Register</a>
        {% endif %}    
        </div> 
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2024 - All rights reserved
    </footer>
</body>
</html>
