body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body nav {
    justify-content: space-between;
}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    display: flex;
    flex-wrap: wrap;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.logo, .log {
    margin-top: 1em;
    margin-bottom: 1em;
}
.log, .left {
    display: flex;
}
nav ul li {
    display: inline;
}
nav ul li a, .logo, .log a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover, .logo:hover, .log a:hover, a.btn:hover {
    background-color: #555;
}
main {
    padding: 20px;
}
.header {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}
a.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.header h1 {
    display: inline;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
table {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}

thead {
background-color: #f2f2f2;
}

thead th {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

tbody td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}
tbody td a {
    text-decoration: none;
}

tbody tr:hover {
background-color: #f2f2f2;
}