{% extends 'layouts/app.twig' %}

{% block title %}Create New Kitchen{% endblock %}

{% block content %}
    <div class="header">
        <h1>Create New Kitchen</h1>
        <a href="/kitchen" class="btn">Back</a>
    </div>

    <form action="/kitchen/create" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Create Kitchen">
    </form>

{% endblock %}
