{% extends 'layouts/app.twig' %}

{% block title %}Edit Kitchen{% endblock %}

{% block content %}
    <div class="header">
        <h1>Edit Kitchen</h1>
        <a href="/kitchen" class="btn">Back</a>
    </div>

    <form action="/kitchen/edit/{{ kitchen.id }}" method="POST">
        <input type="hidden" name="id" value="{{ kitchen.id }}">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ kitchen.name }}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="6" cols="80" required>{{ kitchen.description }}</textarea><br><br>

        <input type="submit" value="Edit Kitchen">
    </form>

{% endblock %}
