{% extends 'layouts/app.twig' %}

{% block title %}Kitchens{% endblock %}

{% block content %}
    <div class="header">
        <h1>Kitchens</h1>
        <a href="/kitchen/create" class="btn">Create</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for kitchen in kitchens %}
                <tr>
                    <td><a href="/kitchen/show?id={{ kitchen.id }}">{{ kitchen.name }}</a></td>
                    <td><a href="/kitchen/edit?id={{ kitchen.id }}">Edit</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
