{% extends 'layouts/app.twig' %}

{% block title %}Kitchen Details{% endblock %}

{% block content %}
    <div class="header">
        <h1>Kitchen Details</h1>
        <div>
            <a href="/kitchen" class="btn">Back</a>
            <a href="/kitchen/edit?id={{ kitchen.id }}" class="btn">Edit</a>
        </div>
    </div>

    <div>
        <h2>{{ kitchen.name }}</h2>
        <p>Description:</p>
        <p style="width: 50%;">{{ kitchen.description }}</p>
    </div>
    <div>
        <h2>Recepten</h2>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <strong>{{ recipe.name }}</strong><br> 
                    Level: {{ recipe.level|capitalize }}<br> 
                    Type: {{ recipe.type|capitalize }}<br> 
                    <a href="/recipe/show?id={{ recipe.id }}">Show</a><br><br>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
