{% extends 'layouts/app.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Create a new account</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/user/register" method="POST">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Username" required><br><br>
        
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>

        <label for="confirm_password"></label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required><br><br>

        <input type="submit" value="Register"><br><br>
        <a href="/user/login" style="text-decoration: none;">Or log in</a>
    </form>
{% endblock %}
