{% extends 'layouts/app.twig' %}

{% block title %}Create New Recipe{% endblock %}

{% block content %}
    <div class="header">
        <h1>Create New Recipe</h1>
        <a href="/recipe" class="btn">Back</a>
    </div>
    <form action="/recipe/create" method="POST">
        <input type="hidden" name="kitchen_id" value="{{ kitchen.id }}">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="kitchen">Kitchen:</label><br>
        <select id="kitchen" name="kitchen_id" required>
            {% for kitchen in kitchens %}
                <option value="{{ kitchen.id }}">{{ kitchen.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="level">Level:</label><br>
        <select id="level" name="level" required>
            {% for level in levels %}
                <option value="{{ level }}">{{ level|capitalize }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="type">Type:</label><br>
        <select id="type" name="type" required>
            {% for recipeType in types %}
                <option value="{{ recipeType }}">{{ recipeType|capitalize }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Create Recipe">
    </form>

{% endblock %}
