{% extends 'layouts/app.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
    <div class="header">
        <h1>Edit Recipe</h1>
        <a href="/recipe" class="btn">Back</a>
    </div>

    <form action="/recipe/edit/{{ recipe.id }}" method="POST">
        <input type="hidden" name="id" value="{{ recipe.id }}">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ recipe.name }}" required><br><br>

        <label for="kitchen">Kitchen:</label><br>
        <select id="kitchen" name="kitchen_id" required>
            {% for kitchen in kitchens %}
                <option value="{{ kitchen.id }}" {% if kitchen.id == recipe.kitchen_id %} selected {% endif %}>{{ kitchen.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="level">Level:</label><br>
        <select id="level" name="level" required>
            {% for level in levels %}
                <option value="{{ level }}" {% if level == recipe.level %} selected {% endif %}>{{ level|capitalize }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="type">Type:</label><br>
        <select id="type" name="type" required>
            {% for recipeType in types %}
                <option value="{{ recipeType }}" {% if recipeType == recipe.type %} selected {% endif %}>{{ recipeType|capitalize }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Edit Recipe">
    </form>

{% endblock %}
