{% extends 'layouts/app.twig' %}

{% block title %}Recipes{% endblock %}

{% block content %}
    <div class="header">
        <h1>Recipes</h1>
        <a href="/recipe/create" class="btn">Create</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td><a href="/recipe/show?id={{ recipe.id }}">{{ recipe.name }}</a></td>
                    <td>{{ recipe.type|capitalize }}</td>
                    <td>{{ recipe.level|capitalize }}</td>
                    <td><a href="/recipe/edit?id={{ recipe.id }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
