{% extends 'layouts/app.twig' %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
    <div class="header">
        <h1>Recipe Details</h1>
        <div>
            <a href="/recipe" class="btn">Back</a>
            <a href="/recipe/edit?id={{ recipe.id }}" class="btn">Edit</a>
        </div>
    </div>
    <div>
        <h2>{{ recipe.name }}</h2>
        <p><strong>Level:</strong> {{ recipe.level|capitalize }}</p>
        <p><strong>Type:</strong> {{ recipe.type|capitalize }}</p>
        
        {% if kitchen %}
            <p><strong>Kitchen:</strong> <a href="/kitchen/show?id={{ kitchen.id }}">{{ kitchen.name }}</a></p>
        {% endif %}      
    </div>
{% endblock %}
